body {
 /* 60x to push the top of page below navbar */
 padding-top: 60px;
}

.app-container {
 margin-top: 20px;
}

/* Issue listing */
.issue-list-item-title {
 font-size: medium;
 font-weight: normal;
 margin: 0 0 5px 0;
}
.issue-list-item-tagline {
 color: #888;
 font-size: x-small;
 margin: 0 0 5px 0;
}
.issue-list-item {
 padding-top: 10px;
 margin-bottom: 8px;
 padding-left: 10px;
 border: 1px solid #888;
}
.issue-list-item-flat {
 display: block;
 margin-left: -40px;
}
.issue-list-item-flat-li {
 display: inline;
 list-style-type: none;
 padding-right: 10px;
}